.layout-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

mat-divider {
  margin: 8px 0;
}

.mat-badge-small.mat-badge-before .mat-badge-content {
  left: -8px;
}

.mat-list-base .reports-list.mat-list-item .mat-list-item-content {
  justify-content: space-between;
}
