@import "./src/styles";

.button-wrapper {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  margin-top: 12px;



  .btn-block {
    width: 49%;
  }
}

.mat-title {
  position: absolute;
  top: 60px;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
}

@media screen and (max-width: $phone) {
  .mat-title {
    font-size: 40px;

  };
}
@media screen and (max-width: $tablet) and (min-width: $phone) {
  .mat-title {
    font-size: 50px;
  };
}


